<!DOCTYPE html>
<html>

	<head>

		{% block title %}
      		{% endblock %}

      		{% load staticfiles %}

      		<!--Import Google Icon Font-->
	      	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/mainsearch.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.eot">

	      	<!--Import materialize.css-->
	      	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css' %}">
	      	<!--Let browser know website is optimized for mobile-->
      		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      		<!--Import jQuery before materialize.js-->
      		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      		<script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
      		<script type="text/javascript" src="{% static 'js/mobiledropdown.js' %}"></script>
      		<!-- Preloader -->
      		<link rel="stylesheet" href="{% static 'preloader/css/main.css' %}">
		<script src="{% static 'preloader/js/vendor/modernizr-2.6.2.min.js' %}"></script>
		<script>window.jQuery || document.write('<script src="preloader/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<script src="{% static 'preloader/js/main.js' %}"></script>

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'img/Libra_small.png' %}"/>

		<!-- Google search console -->
		<meta name="google-site-verification" content="ZBNN7Lcz-P2LmKWWVdJdul_ffscetczyu_J5k3tLruU" />

		<!-- Fb share -->

		<meta property="og:url" content="https://libracompare.herokuapp.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Libra | Shop Faster | Shop Smarter | Shop Cheaper " />
		<meta property="og:description" content="Libra is a one stop place for comparision of products from various online stores" />
		<meta property="og:image" content="{% static 'img/Libra_small.png' %}" />
		<meta property="og:site_name" content="Libra" />
		<meta property="og:app_id" content="105081659899183" />

      		{% block head_extras %}
      		{% endblock %}

	</head>

	<body>

		<script>

		  	window.fbAsyncInit = function()
		  	{
		    		FB.init(
		    		{
			      		appId      : '105081659899183',
			      		xfbml      : true,
			      		version    : 'v2.6'
		    		});
		  	};

  			(function(d, s, id){
     			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
     			js = d.createElement(s); js.id = id;
     			js.src = "//connect.facebook.net/en_US/sdk.js";
     			fjs.parentNode.insertBefore(js, fjs);
   			}(document, 'script', 'facebook-jssdk'));

		</script>

		{% block loader %}
	        	{% endblock %}

		<header class="z-depth-1">
			<div class="navbar-fixed">

				<nav>
			      		<div class="nav-wrapper">

			       	 		<a href="/index/" class="brand-logo"><img src="http://athena.nitc.ac.in/azharullahshariff_b130727cs/aggregator/img/libra.png" style="height:65px; float:left;"/>Libra</a>
			        			<a href="/index/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">&nbsp menu</i></a>

						<ul class="right hide-on-med-and-down">
				 		  	<li style="margin-right:50px;">
				         	  	   		<div class="nav-wrapper">
							      		<form id="searchbar" action="/search/" method="get">
							        		<div class="input-field col l8 s8 push-s2">
							          			<input style="width:550px" type="search" placeholder="Search for a product..." name="search" required>
							          			<label for="search"><i class="material-icons">search</i><input style="visibility:hidden" type="submit" value="Search" name="submit"></label>
							          			<i class="material-icons">close</i>
							        		</div>
							      		</form>
							    	</div>
		 				   	</li>
						  	{% block home_block %}
						  		<li><a class="homehighlighted" href="/index/">&nbsp&nbsp&nbsp&nbsp HOME &nbsp&nbsp&nbsp&nbsp</a></li>
						  	{% endblock %}
				          			<li><a class="dealshighlighted" href="/deals/">&nbsp&nbsp&nbsp&nbsp LATEST DEALS&nbsp;&nbsp&nbsp&nbsp</a></li>
				          			<li><a class="abouthighlighted" href="/help/">&nbsp&nbsp&nbsp&nbsp HELP &nbsp&nbsp&nbsp&nbsp</a></li>
			        			</ul>
						<ul class="side-nav" id="mobile-demo">
				          			<li><a href="/mobsearch/">SEARCH</a></li>
				          			<li><a href="/index/">HOME</a></li>
				          			<li><a href="/deals/">LATEST DEALS</a></li>
				         	 		<li><a href="/help/">HELP</a></li>
			      			</ul>

			      		</div>
				</nav>

			</div>
		</header>

		<!-- <nav>
		    	<div class="nav-wrapper">
		      		<form id="searchbar" action="/search/" method="get">
		        		<div class="input-field col l8 s8 push-s2">
		          			<input type="search" class="center-align" placeholder="What are we looking for today??" name="search" required>
		          			<label for="search"><i class="material-icons">search</i><input style="visibility:hidden" type="submit" value="Search" name="submit"></label>
		          			<i class="material-icons">close</i>
		        		</div>
		      		</form>
		    	</div>
		</nav> -->

		{% block body %}
		{% endblock %}

		<br><br><br>

		<!-- Adsense -->

        		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Django libra site ads -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     data-ad-client="ca-pub-7320891927243152"
		     data-ad-slot="3711693826"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<footer class="page-footer">
          			<div class="container">
            				<div class="row">
             	 			<div class="col l6 s12">
                					<h5 class="white-text">Libra Foundation</h5>
            						<p class="grey-text text-lighten-4">A SWEL Initiative</p>
              				</div>
              				<div class="col l6 s9 push-s3">
              					<h5>Get the Libra android app <a style="color:white" target="_blank" href="http://athena.nitc.ac.in/azharullahshariff_b130727cs/apk/app-debug.apk"> here</a></h5>
            					</div>
            				</div>
          			</div>
          			<div class="footer-copyright">
            				<div class="container">
            					Copyright © 2016 Libra Foubdation. All Rights Reserved.
            				</div>
          			</div>
        		</footer>

		<style type="text/css">

			body
			{
				font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
				background-color: #a1e3e9;
				height: 100vh !important;
			}

			nav, .page-footer
			{
				background-color: #009caa !important;
			}

			main
			{
			    	flex: 1 0 auto;
			}

		</style>

	</body>

</html>