{% extends 'base.html' %}

{% block title %} <title>Libra</title> {% endblock %}

{% block body %}

        {% block loader %}
        {% endblock %}

        <div class="container">
        <main>
                        <div>
                                <p style="font-size:30px; color:#006b75"><br>ABOUT LIBRA</p>
                                <p style="font-size:20px">Why should you use Libra?</p>
                                <p>Libra is a one-place online destination where you can compare prices of products from different online shopping sites and select the one you find cheapest or the best suited to your needs.
                                <br><br>Currently Libra supports price comparisons for products sold on the following sites</p>
                                <p><img src="http://athena.nitc.ac.in/azharullahshariff_b130727cs/aggregator/img/flipkart.png" style="width:200px">
                                 &nbsp&nbsp&nbsp&nbsp&nbsp <img src="http://athena.nitc.ac.in/azharullahshariff_b130727cs/aggregator/img/snapdeal.png" style="width:200px">
                                 &nbsp&nbsp&nbsp&nbsp&nbsp <img src="http://athena.nitc.ac.in/azharullahshariff_b130727cs/aggregator/img/amazon.png" style="width:200px">
                                 &nbsp&nbsp&nbsp&nbsp&nbsp <img src="http://athena.nitc.ac.in/azharullahshariff_b130727cs/aggregator/img/ebay.png" style="width:200px">
                                <p>

                                <p style="font-size:30px; color:#006b75"><br>HOW TO USE LIBRA</p>
                                <p style="font-size:20px">How do I find the cheapest deal for the product I am looking for?</p>
                                <p>Use the search bar on the top of the site to look for your the product. Type in the name of the product
                                    or the search key and click enter. You will be given the top 10 results matching your search query, along
                                        with their prices. Choose the product you wish to purchase. This will give you a page with results from the
                                        4 sites in one place, making it easy for you to compare the products and choose the one most suited for your
                                        requirements.</p>

                                <p style="font-size:20px">Can I sort my results?</p>
                                <p>Yes you can. On searching for a product, you will be given options to sort based on price and delivery time
                                    in both ascending and descending order.</p>

                                <p style="font-size:20px">Will I be able to find latest deals and offers running on these sites?</p>
                                <p>If you wish to have a look at the latest deals running on the 4 sites, you can visit the Latest Deals page.
                                        Click on the deal you wish to check out and you will be redirected to the relevant page on the original site</p>
                                  <br><br><br><br>

                        </div>
        </main>
        </div>

        <style type="text/css">

                body
                {
                    background-color: white !important;
                }

                .abouthighlighted
                {
                    color:white;
                    background-color:#006b75;
                }

        </style>

{% endblock %}