{% extends 'base.html' %}

{% block title %} <title>Libra</title> {% endblock %}

{% block body %}

	{% block loader %}
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
	        		<div class="loader-section section-right"></div>
	        	</div>
	{% endblock %}


	<div id="video" class="responsive-video">
		<iframe width="854" height="480" src="https://www.youtube.com/embed/tE9VQOqef-E" frameborder="0" allowfullscreen></iframe>
	</div>

	<!-- <div class="row"> -->

		<div id="flipid" data-WRID="WRID-146099979306551893" data-widgetType="staticBanner" data-responsive="yes" data-class="affiliateAdsByFlipkart" height="250" width="300"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>

		<div id="snapid" data-SDID="786580219"  data-identifier="SnapdealAffiliateAds" data-height="250" data-width="300" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>

		<div id="amazonid" style="z-index:100"><script type="text/javascript" language="javascript"> var aax_size='300x250'; var aax_pubname = 'libra0c8-21'; var aax_src='302'; </script><script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script></div>


	<!-- </div> -->

	<!-- <center><h1>Welcome to Aggregator !</h1></center> -->

	<!-- <nav>
	    	<div class="nav-wrapper">
	      		<form id="searchbar" action="/search/" method="get">
	        		<div class="input-field col l8 s8 push-s2">
	          			<input type="search" class="center-align" placeholder="What are we looking for today??" name="search" required>
	          			<label for="search"><i class="material-icons">search</i><input style="visibility:hidden" type="submit" value="Search" name="submit"></label>
	          			<i class="material-icons">close</i>
	        		</div>
	      		</form>
	    	</div>
	</nav> -->

	<script data-cfasync="false">
	          (function(r,e,E,m,b){E[r]=E[r]||{};E[r][b]=E[r][b]||function(){
	          (E[r].q=E[r].q||[]).push(arguments)};b=m.getElementsByTagName(e)[0];m=m.createElement(e);
	          m.async=1;m.src=("file:"==location.protocol?"https:":"")+"//s.reembed.com/G-X37WGX.js";
	          b.parentNode.insertBefore(m,b)})("reEmbed","script",window,document,"api");
    	</script>

	<style type="text/css">

		iframe
		{
			width: 576px !important;
			height: 360px !important;
		}

		iframe
		{
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(70%, 50%);
		}

		#flipid
		{
			position: absolute;
			left: 0;
			/*float: left !important;*/
		}

		.homehighlighted
		{
			color:white;
			background-color:#006b75;
		}

	</style>

{% endblock %}