{% extends 'base.html' %}

{% block title %} <title>Libra</title> {% endblock %}

{% block body %}

	{% block loader %}
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
	        		<div class="loader-section section-right"></div>
	        	</div>
	{% endblock %}

	<div class="row s12" style="background-color: #009caa; padding-top:50px; padding-bottom:0px;">

		<div class="row s12" style="margin-top:1%;">

			<div class="responsive-video col s8">
				<iframe class="col s12" id="video" width="854" height="480" src="https://www.youtube.com/embed/tE9VQOqef-E?showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="writeup col s4">

				<br><br><br>
				<h2 style="color:white">Shop <span class="newcolor">faster</span></h2><br>
				<h2 style="color:white">Shop <span class="newcolor">smarter</span></h2><br>
				<h2 style="color:white">Shop <span class="newcolor">cheaper</span></h2><br>

			</div>

		</div>

	</div>

	<div class="row col s12">

		<h3 class="center-align" style="margin-bottom:3%; margin-top:3%;">Latest Deals</h3>

		<div id="flipid" data-WRID="WRID-146099979306551893" data-widgetType="staticBanner" data-responsive="yes" data-class="affiliateAdsByFlipkart" height="250" width="300"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>

		<div id="snapid" data-SDID="786580219"  data-identifier="SnapdealAffiliateAds" data-height="250" data-width="300" ></div><script async id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>

		<div id="amazonid" style="z-index:100"><script type="text/javascript" language="javascript"> var aax_size='300x250'; var aax_pubname = 'libra0c8-21'; var aax_src='302'; </script><script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script></div>

	</div>

	<center><a href="/deals/" class="waves-effect waves-light btn-large center-align" style="margin-top: 300px;">Find more deals</a></center>

	<style type="text/css">

		body
		{
			background-color: white !important;
		}

		.newcolor
		{
			color: #006b75;
		}

		#flipid
		{
			position: absolute;
			left: 10%;
			/*float: left !important;*/
		}

		#snapid
		{
			position: absolute;
			left: 40%;
			/*float: left !important;*/
		}

		#amazonid
		{
			position: absolute;
			left: 70%;
			/*float: left !important;*/
		}

		.homehighlighted
		{
			color:white;
			background-color:#006b75;
		}

	</style>

{% endblock %}